---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import WhyUsCard from "./Cards/WhyUsCard.astro";
import {
	WHY_US_DESCRIPTION,
	WHY_US_SUB_TITLE,
	WHY_US_TITLE,
} from "../data/constants";
import chooseUsImage from "../images/pexels-min-an-1004014.jpg";

const allWhyUsCollection: CollectionEntry<"whyus">[] =
	await getCollection("whyus");
---

<div class="overflow-hidden bg-green-100 py-24 sm:py-32">
	<div class="mx-auto max-w-7xl md:px-6 lg:px-8">
		<div
			class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start"
		>
			<div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
				<div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
					<h2 class="text-base font-semibold leading-7 text-green-600">
						{WHY_US_SUB_TITLE}
					</h2>
					<p
						class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
					>
						{WHY_US_TITLE}
					</p>
					<p class="mt-6 text-lg leading-8 text-gray-600">
						{WHY_US_DESCRIPTION}
					</p>
					<dl
						class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
					>
						{allWhyUsCollection.map((us) => <WhyUsCard reason={us} />)}
					</dl>
				</div>
			</div>
			<div class="sm:px-6 lg:px-0">
				<div
					class="relative isolate overflow-hidden bg-green-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none"
				>
					<div
						class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-green-100 opacity-20 ring-1 ring-inset ring-white"
						aria-hidden="true"
					>
					</div>
					<div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
						<Image
							src={chooseUsImage}
							alt="Choose right for you"
							width={1000}
							height={1000}
							class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10"
						/>
					</div>
					<div
						class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl"
						aria-hidden="true"
					>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
